site_name: Advent of Code 2025

plugins:
  - entangled
  - include-markdown

markdown_extensions:
  - admonition
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

theme:
  name: material
  features:
    - content.code.annotate
  palette:
      # Palette toggle for light mode
      - scheme: default
        primary: blue
        toggle:
          icon: material/brightness-7
          name: Switch to dark mode

      # Palette toggle for dark mode
      - scheme: slate
        primary: pink
        toggle:
          icon: material/brightness-4
          name: Switch to light mode
